@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Sedgwick+Ave+Display&display=swap');
/* Universal selectors */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Root */
:root {
    --primary-color:#275A68;
    --secondary-color: #A07D6A;
    --accent1-color: #CEB5A7;
    --accent2-color: #1EBDC2; 
/* 1EBDC2 */
    --heading-font: 'Sedgwick ave Display', serif;
    --paragraph-font: 'Roboto', serif;

    --nav-background-color: #A07D6A;
    --nav-link-color: #fff4d2;
    --nav-hover-link-color: #275A68;
   --nav-hover-background-color: #CEB5A7;
   ;

/* Header */
}
header {
    display: grid;
    grid-template-columns: 80px 1fr;
    background-color: var(--secondary-color);
    width: 100%;

}
header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
header nav a {
    color: var(--nav-link-color);
    text-decoration: none;
    font-family: var(--heading-font);
    font-size: x-large;
    /* height: auto; */

}

header nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}

header img {
    display: flex;
    align-self: end;
    width: 80px;
    height: auto;
    margin: 10px;
    
}
/* header end  */

/* Main selectors */
/* body{
    background-color: var(--accent2-color);
} */
h1 {
    color: var(--primary-color);
    font-family: var(--heading-font);

}
h2, h3, h4, h5, h6 {
    color: var(--primary-color);
    font-family: var(--heading-font);
    padding: 0.8em;
}

p {
    font-family: var(--paragraph-font);
}

section{
    text-align: center;
}

div article p {
    width: 100%;
}
/* Hero Image */
/* Class declerations */
.about-us{
    color: var(--accent2-color);
}
.hero {
    position: relative;
    width: 100%;
}

.hero article img{
    width: 20%;
}

.hero .background{
    display: block;
    /* width: 1280px; */
    /* float: right; */
    height: auto;
    width: 100%;
}
/* Class declarations end */
div h1 {
    position: absolute;
    top: 3%;
    text-align: center;
    background-color: rgba(39,90,104, 0.7);
    width: 100%;
}

div article {
    position: absolute;
    top: 20%;
    right: 10%;
    left: 10%;
    bottom: 10%;
    padding: 1%;
    height: auto;
    float: right;
    background-color: rgba(39,90,104, 0.7);
    color: white;

}
/* Hero Image end */

/* Adcenture awaits you selectors */
figure {
    margin: 0;
}
.flexbox-container {
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: space-around;
    background-color: var(--accent1-color);
    padding: 1em;
    
}
.rafting-adventure{
    width: 100%;
    height: auto;
}


div article img {
    width: 200px;
    float: right;
}
/* Adventrue awaits you selectors end */
 /* Main end */

 /* Footer Selectors */
footer {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 2em
}
footer img {
    width: 50px;
}
footer nav {
    grid-column: 3;
}
/* footer end */

/* Contact us page */
iframe{
    width: 40em;
    height: auto;
    margin: 0.5em;
}
ul{
    text-align: left;
    float: left;
    margin-left: 5em;
    padding: 0.5em;
}
.company-information{
    display: grid;
    grid-template-columns: 35% 1fr;
}
.contact-us-page{
    text-align: center;
    padding: 0.7em;
}
.happy-employee{
    width: 200px;
}

/* form */
.form{
    display: flex;
    justify-content: center;
}
form {
    display: grid;
    width: 30em;
    /* margin: 25px;
    margin-top: 0; */
    padding: 0.5em;
    border: 1px solid black;
    background-color: var(--accent1-color);
    border-radius: 0;
    justify-items: center;
    font-family: var(--paragraph-font);
}
fieldset{
    display: grid;
    padding: 0.5em;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    /* justify-content: center;
    flex-flow: column wrap; */
}
input, select, textarea{
    float: right;
    padding: 0.5em;
    margin: 0.5em;;
}

.checkbox{
    padding: 1em;
    height: 1.5em;
}
button{
    width: 5em;
    height: 2em;
    margin-top: 0.5em;
}

button:hover{
    background-color: var(--nav-hover-link-color);
}